# AI files
.cursor
.cursorignore
.codex/
AGENTS.md
.agents/
.claude

# Xcode
xcuserdata/
DerivedData/
build/
*.xcworkspace

# Build artifacts
*.app
*.ipa
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/

docs
